<!DOCTYPE html>
<html class="scroll-smooth bg-white" lang="{{ site.language }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% meta_tags %}
    {{ 'stylesheets/application.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.js' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/application.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
    {% if false %} {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}
    {{ site.settings.head_html }}
  </head>
  <body id="js--body" class="flex min-h-screen flex-col bg-slate-50 antialiased text-slate-600">
    <div class="flex-0">
      {% if site.settings.is_allow_header %}
        {% render 'header' %}
      {% endif %}
    </div>

    <main class="relative flex min-h-0 flex-1 flex-col bg-slate-50">
      {{ content_for_layout }}
    </main>

    <div class="flex-0">
      {% if site.settings.is_allow_footer %}
        {% render 'footer' %}
      {% endif %}
    </div>
  </body>
</html>
